---
BasedOnStyle:  LLVM
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
BinPackParameters: false
ColumnLimit:     150
IndentWidth:     8
TabWidth:        8
UseTab:          true
SortIncludes: false
