5551 ICON DISCARDABLE "Rajce.ico"

1 VERSIONINFO

FILEVERSION     1,5,7,0
PRODUCTVERSION  1,5,7,0

#define FILEVERSION_STR    "1.5.7"
#define PRODUCTVERSION_STR "1.5.7"

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904B0"
    BEGIN
      VALUE "CompanyName", "Radek Malcic"
      VALUE "FileDescription", "Rajce album downloader"
      VALUE "FileVersion", FILEVERSION_STR
      VALUE "InternalName", "Rajce"
      VALUE "LegalCopyright", "Copyright (c) 2016-2020 Radek Malcic"
      VALUE "OriginalFilename", "Rajce.exe"
      VALUE "ProductName", "Rajce"
      VALUE "ProductVersion", PRODUCTVERSION_STR
    END
    BLOCK "040504B0"
    BEGIN
      VALUE "CompanyName", "Radek Malčic"
      VALUE "FileDescription", "Rajče album downloader"
      VALUE "FileVersion", FILEVERSION_STR
      VALUE "InternalName", "Rajče"
      VALUE "LegalCopyright", "Copyright (c) 2016-2020 Radek Malčic"
      VALUE "OriginalFilename", "Rajce.exe"
      VALUE "ProductName", "Rajče"
      VALUE "ProductVersion", PRODUCTVERSION_STR
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200, 0x405, 1200
  END
END
