5551 ICON DISCARDABLE "Rajce.ico"

1 VERSIONINFO
FILEVERSION     1,1,0,0
PRODUCTVERSION  1,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904B0"
    BEGIN
      VALUE "CompanyName", "Radek Malcic"
      VALUE "FileDescription", "Rajce album downloader"
      VALUE "FileVersion", "1.1"
      VALUE "InternalName", "Rajce"
      VALUE "LegalCopyright", "Copyright (c) 2016"
      VALUE "OriginalFilename", "Rajce.exe"
      VALUE "ProductName", "Rajce"
      VALUE "ProductVersion", "1.1"
    END
    BLOCK "040504B0"
    BEGIN
      VALUE "CompanyName", "Radek Malčic"
      VALUE "FileDescription", "Rajče album downloader"
      VALUE "FileVersion", "1.1"
      VALUE "InternalName", "Rajče"
      VALUE "LegalCopyright", "Copyright (c) 2016"
      VALUE "OriginalFilename", "Rajce.exe"
      VALUE "ProductName", "Rajče"
      VALUE "ProductVersion", "1.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200, 0x405, 1200
  END
END

